.navbarItem {
  @apply rounded-sm;
  transition: all 0.3s;
}

.navbarItemActive {
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
}

.navbarItem:hover {
  background: rgba(255, 255, 255, 0.4);
}
